@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@900&display=swap");

/* Custom styles for the Popover container */
.custom-popover {
  z-index: 1300; /* Ensure it's above other elements */
}

/* Custom styles for the Popover Paper */
.settings-box {
  background-color: #2a2a2a; /* Dark background */
  color: #fff; /* White text */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow */
  padding: 10px; /* Inner padding */
  padding-left: 20px;
  padding-right: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Settings Button */
.css-xjgp8o-MuiButtonBase-root-MuiIconButton-root {
  position: absolute;
  top: -75px;
}
/* Typography inside the Popover */
.custom-paper .MuiTypography-root {
  font-size: 0.7rem; /* Smaller font size */
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Input fields inside the Popover */
.custom-paper .MuiTextField-root {
  background-color: #3a3a3a; /* Slightly lighter background for inputs */
  border-radius: 4px;
}

/* Checkbox labels inside the Popover */
.custom-paper .MuiFormControlLabel-root {
  margin-bottom: 0px;
}



.custom-paper input {
  font-size: 0.6rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.custom-paper .subtitle1 {
  font-size: 1rem;
}

.settings-boxes {
  display: flex !important;
  align-items: center !important;
  margin: -5px !important;
  padding: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.css-kmnzss {
  justify-content: space-between;
}

.gold-header {
  background-color: #ffd700; /* Gold-like yellow background */
  font-weight: bold; /* Bold text for the cell */
  align-items: start !important;
  text-align: center; /* Center-align the text */
}

.gold-placement {
  background-color: #3b3602;
  /*color: black !important;*/
  text-align: center;
}

.gold-header .MuiTableSortLabel-root {
  color: #000 !important; /* Black text for contrast */
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  justify-content: center; /* Align the text centrally */
}

.gold-header .MuiTableSortLabel-root:hover {
  color: #333 !important; /* Darker hover text */
}

.gold-header .MuiTableSortLabel-icon {
  color: #000 !important; /* Black sort icon */
}

.silver-header {
  background-color: #94938b; /* Silver-like  background */
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: center; /* Center-align text */
}

.silver-placement {
  background-color: #2a2a2a;
}

.silver-header .MuiTableSortLabel-root {
  color: #000 !important; /* Black text for contrast */
  font-weight: bold; /* Bold text */
}

.silver-header .MuiTableSortLabel-root:hover {
  color: #333 !important; /* Darker hover text */
}

.bronze-header {
  background-color: #e9c18a; /* Silver-like  background */
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: center; /* Center-align text */
}
.bronze-placement {
  background-color: #362d21;
}

.bronze-header .MuiTableSortLabel-root {
  color: #000 !important; /* Black text for contrast */
  font-weight: bold; /* Bold text */
}

.bronze-header .MuiTableSortLabel-root:hover {
  color: #333 !important; /* Darker hover text */
}
.copper-header {
  background-color: #9c6820; /* Silver-like  background */
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: center; /* Center-align text */
}
.copper-placement {
  background-color: #352008;
}

.copper-header .MuiTableSortLabel-root {
  color: #000 !important; /* Black text for contrast */
  font-weight: bold; /* Bold text */
}

.copper-header .MuiTableSortLabel-root:hover {
  color: #333 !important; /* Darker hover text */
}

.players-list {
  font-family: "Orbitron", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 900 !important;
  font-style: normal !important;
  font-size: 28px !important;
  text-transform: lowercase !important;
  padding: 0px !important;
  text-decoration: none !important;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: olive;
  text-decoration: none;
}

.players-list .MuiTableCell-root {
  padding: 8px; /* Adjust padding for a tighter layout */
}

.games-list {
  font-family: "Roboto Mono", monospace !important;
  font-size: 8px !important; /* Adjust font size as needed */
  /*font-weight: 200;*/
  font-style: normal;
  text-transform: uppercase; /* Or use uppercase for all caps */
  text-align: center;
  width: 200%;
}

.games-list .MuiTableCell-root {
  padding: 8px; /* Adjust padding for a tighter layout */
}

.numbers-list {
  font-family: "Nunito", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 200 !important;
  font-style: normal !important;
}

.home-button {
  position: absolute !important;
  top: 50px;
}

.MuiTableCell-root {
  text-align: center !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.year-range {
  width: 80% !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

footer {
  text-align: center;
  align-items: flex;
}

footer ul {
  align-items: center;
  list-style-type: none;
  display: inline-flex;
}
footer ul li {
  margin: 10px;
}

footer ul li a img {
  width: 30px;
  height: 30px;
}

.title-top {
  text-transform: uppercase;
  padding-top:50px;
}

.css-5c1adp-MuiContainer-root {
  max-width: 1500px !important;
}

.table-header {
  background-color: #2a2a2a; /* Dark background */
  color: #fff; /* White text */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow */
  padding: 10px; /* Inner padding */
  padding-left: 20px;
  padding-right: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.modes-list {
  margin: 0 !important;
  font-size: 0.7rem !important;
  font-weight: 100 !important;
}

.css-zpntfe-MuiTableCell-root{
  /*modes-list*/
  width: fit-content;
  padding: 0;

}